snippet zfmodel
		/**
		 * ${3:undocumented model}
		 *
		 * @package ${4:default}
		 * @subpackage ${5:Models}
		 * @author ${6:`g:snips_author`}
		 **/
		class ${1:Default}_Model_${2:Entity}
		{
			${7}
		}
snippet zfd
	Zend_Debug::dump(${1:$this->});
