[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-task"]
	path = bundle/vim-task
	url = git://github.com/samsonw/vim-task.git
[submodule "bundle/html5.vim"]
	path = bundle/html5.vim
	url = git://github.com/othree/html5.vim.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = git://github.com/weierophinney/snipmate.vim.git
    ignore = untracked
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround
    ignore = untracked
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/weierophinney/vimwiki.git
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = git://github.com/leshill/vim-json.git
[submodule "bundle/javascript.vim"]
	path = bundle/javascript.vim
	url = git://github.com/serverhorror/javascript.vim.git
[submodule "bundle/checksyntax_vim"]
	path = bundle/checksyntax_vim
	url = git://github.com/tomtom/checksyntax_vim.git
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule "bundle/jasmine.vim"]
	path = bundle/jasmine.vim
	url = git://github.com/claco/jasmine.vim.git
[submodule "bundle/netrw.vim"]
	path = bundle/netrw.vim
	url = git://github.com/vim-scripts/netrw.vim.git
