[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-task"]
	path = bundle/vim-task
	url = git://github.com/samsonw/vim-task.git
[submodule "bundle/html5.vim"]
	path = bundle/html5.vim
	url = git://github.com/othree/html5.vim.git
[submodule "bundle/snipmate.vim"]
    path = bundle/snipmate.vim
    url = git://github.com/weierophinney/snipmate.vim.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
    url = git://github.com/tpope/vim-surround
[submodule "bundle/ant_menu.vim"]
	path = bundle/ant_menu.vim
	url = git://github.com/vim-scripts/ant_menu.vim.git
